<cloud-title>Вход в Taco Cloud</cloud-title>

<p style="font-weight: bold; color: red">
  Функции входа и безопасности находятся в тестовом режиме и пока ничего не делают. Приносим свои извинения.
</p>

<group-box title="Вход">
  <form>
    <label for="username"><b>Логин:</b></label><br/>
    <input type="text" name="username" class="formField"/><br/>
    <label for="password"><b>Пароль:</b></label><br/>
    <input type="password" name="password" class="formField"/><br/><br/>
    <big-button label="Вход"></big-button>
  </form>
</group-box>

<group-box title="Регистрация">
  <form>
    <label for="username"><b>Логин:</b></label><br/>
    <input type="text" name="username" class="formField"/><br/>
    <label for="password"><b>Пароль:</b></label><br/>
    <input type="password" name="password" class="formField"/><br/><br/>
    <label for="password"><b>Подтвердите пароль:</b></label><br/>
    <input type="password" name="verifyPassword" class="formField"/><br/><br/>

    <label for="fullName"><b>Полное имя:</b></label><br/>
    <input type="text" name="fullName" class="formField"/><br/><br/>

    <label for="street"><b>Улица:</b></label><br/>
    <input type="text" name="street" class="formField"/><br/><br/>

    <label for="city"><b>Город / Регион:</b></label><br/>
    <input type="text" name="city" class="formField"/>
    <input type="text" name="state" class="formField"/><br/><br/>

    <label for="zipCode"><b>Почтовый индекс:</b></label><br/>
    <input type="text" size="2" name="zipCode" class="formField"/><br/><br/>

    <label for="phoneNumber"><b>Телефон:</b></label><br/>
    <input type="text" name="phoneNumber" class="formField"/><br/><br/>

    <big-button label="Зарегистрироваться"></big-button>

  </form>
</group-box>
