<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
	<meta charset="UTF-8">
	<title>Шаверма "Вкусно"</title>
</head>

<body>

<h1>Вход в систему</h1>
<img th:src="@{/images/TacoCloud.png}">

<div th:if="${error}">
	Ошибка входа. Проверьте логин и пароль.
</div>

<p>Первый раз здесь? Нажмите
	<a th:href="@{/register}">здесь</a> для регистрации</p>

<form th:method="Post" th:action="@{/login}" id="loginForm">
	<label for="username">Логин: </label>
	<input type="text" name="username" id="username"/><br/>
	
	<label for="password">Пароль: </label>
	<input type="password" name="password" id="password"/><br/>
	
	<input type="submit" value="Login"/>
</form>

</body>
</html>