<cloud-title>Место, где голод рождает уникальные рецепты тако</cloud-title>

<img src="assets/TacoPhoto.jpg" style="float:right;margin:20px;border-radius: 20px"/>

<p>Все мы любим тако. Все виды тако. И нам нравится быть творческими с тем, как мы делаем наши тако.</p>

<p>Некоторые кафе предлагают лишь ограничееный набор тако. В&nbsp;Taco Cloud мы хотим поделиться радостью в&nbsp;создании
   тако с&nbsp;вами, позволяя создавать собственные рецепты из свежих и&nbsp;вкусных ингредиентов. Хоть мы и&nbsp;можем
   предложить вам некоторые из наших фирменных творений, самое интересное —&nbsp;это когда вы создаете собственные,
   завернутые в&nbsp; тортилью, произведения искусства.</p>

<p>И, хотя мы любим тако и&nbsp;креативность, мы предпочитаем избегать сложных математических операций. Поэтому все тако
   по одинаковой сбалансированной цене —&nbsp;$4,99. Независимо от того, сколько или какие ингредиенты вы выберите.</p>

<p>Нажмите <a href="design">здесь</a>, чтоб приступить к&nbsp;созданию собственного рецепта</p>
