<cloud-title>Закажи свой кастомный тако</cloud-title>

<p>Вы создали свои аппетитные шедевры тако. А теперь представьте эти творения,
   которые появляются перед вами дома... или на работе... или где бы вы ни находились!</p>

<p *ngIf="(cartItems.length == 0)"><b>В вашей корзине нет тако.
  <a [routerLink]="['../design']">Создайте еще одно</a> или выберите
  <a [routerLink]="['../recents']">одно из недавно созданных тако</a>
</b>
</p>

<div *ngIf="(cartItems.length > 0)">
  <p>Здесь твои последние рецепты кастомных тако. Просто скажи слово и мы доставим их прямиком тебе</p>
  <div class="groupBox groupBoxFull">
    <div class="groupBoxTitle">Здесь мои тако...</div>
    <div class="groupBoxContent">
      <table border="1" width="90%">
        <thead>
        <tr>
          <td>Количество</td>
          <td>Наименование</td>
          <td>Описание</td>
          <td>Цена</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of cartItems">
          <td>
            <select [(ngModel)]="item.quantity">
              <option value="0">Удалить</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </td>
          <td>The "<span class="caps">{{item.taco.name}}</span>"</td>
          <td>
            <ul class="commalit">
              <li *ngFor="let ingredient of item.taco.ingredients|nonwraps">{{ingredient.name}}</li>
            </ul>
            <span *ngIf="(item.taco.ingredients |wraps)?.length > 0">
              <span>завернут в</span>
              <ul class="commalist">
                <li *ngFor="let ingredient of item.taco.ingredients |wraps">{{ingredient.name}}</li>
              </ul>
            </span>
            <span *ngIf="(item.taco.ingredients|wraps)?.length == 0">на тарелке</span>
          </td>
          <td align="right">{{4.99 * item.quantity|currency}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="3" align="right">Итого:</td>
          <td align="right"><span>{{cartTotal|currency}}</span></td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()">
    <div class="groupBox groupBoxHalf">
      <div class="groupBoxTitle">Доставить заказ...</div>
      <div class="groupBoxContent">
        <label for="deliveryName">Имя:</label>
        <input type="text" [(ngModel)]="model.deliveryName" name="deliveryName" size="40"/>
        <br/>

        <label for="deliveryStreet">Улица:</label>
        <input type="text" [(ngModel)]="model.deliveryStreet" name="deliveryStreet" size="40"/>
        <br/>

        <label for="deliveryCity">Город / регион:</label>
        <input type="text" [(ngModel)]="model.deliveryCity" name="deliveryCity" size="40"/>
        <select [(ngModel)]="model.deliveryState" name="deliveryState">
          <option value="">--</option>
          <option value="MSC">Москва</option>
          <option value="MO">Московская область</option>
          <option value="SPB">Санкт-Петербург</option>
          <option value="VRN">Воронеж</option>
          <option value="EKB">Екатеринбург</option>
          <option value="KAZ">Казань</option>
          <option value="TVR">Тверь</option>
          <option value="TMB">Тамбов</option>
          <option value="NN">Нижний Новгород</option>
          <option value="STV">Ставрополь</option>
        </select>
        <br/>

        <label for="deliveryZip">Почтовый индекс:</label>
        <input type="text" [(ngModel)]="model.deliveryZip" name="deliveryZip" size="40"/>
      </div>
    </div>

    <div class="groupBox groupBoxHalf">
      <div class="groupBoxTitle">Способ оплаты</div>
      <div class="groupBoxContent">
        <label for="ccNumber">Номер кредитной карты: </label>
        <input type="text" [(ngModel)]="model.ccNumber" name="ccNumber">
        <br/>

        <label for="ccExpiration">Срок истечения / код CVV: </label>
        <input type="text" [(ngModel)]="model.ccExpiration" name="ccExpiration">
        <input type="text" [(ngModel)]="model.ccCVV" name="ccCVV">
      </div>
    </div>

    <br/>

    <big-button label="Подтвердить заказ"></big-button>

  </form>

</div>


