<cloud-title>Придумай свой шедевральный рецепт тако</cloud-title>

<p>Мы предоставляем палитру свежих ингредиентов... вы обеспечиваете вдохновение! Выберите
      компоненты, которые соберутся вместе как ваше венчающее достижение мастерства тако.</p>

<form (ngSubmit)="onSubmit()">
  <div class="ingredientsblock" style="text-align: center; width: 100%">
    <group-box title="Выбери лаваш">
      <span *ngFor="let wrap of wraps">
        <input type="checkbox" (change)="updateIngredients(wrap, $event)" name="ingredients"
               value="{{wrap.id}}"/>{{wrap.name}}<br/>
      </span>
    </group-box>
    <group-box title="Выбери мясо (протеин)">
      <span *ngFor="let protein of proteins">
        <input type="checkbox" (change)="updateIngredients(protein, $event)" name="ingredients"
               value="{{protein.id}}"/>{{protein.name}}<br/>
      </span>
    </group-box>
    <group-box title="Выбери сыр">
      <span *ngFor="let cheese of cheeses">
        <input type="checkbox" (change)="updateIngredients(cheese, $event)" name="ingredients"
               value="{{cheese.id}}"/>{{cheese.name}}<br/>
      </span>
    </group-box>
    <group-box title="Выбери овощи">
      <span *ngFor="let veggie of veggies">
        <input type="checkbox" (change)="updateIngredients(veggie, $event)" name="ingredients"
               value="{{veggie.id}}"/>{{veggie.name}}<br/>
      </span>
    </group-box>
    <group-box title="Выбери соусы">
      <span *ngFor="let sauce of sauces">
        <input type="checkbox" (change)="updateIngredients(sauce, $event)" name="ingredients"
               value="{{sauce.id}}"/>{{sauce.name}}<br/>
      </span>
    </group-box>

    <group-box title="Назови свой рецепт тако">
      Мой рецепт тако должен называться<br/>
      "<input type="text" [(ngModel)]="model.name" name="name" class="nameField"/>"!
    </group-box>
  </div>

  <div style="text-align: center;width: 100%">
    <big-button label="Создать тако"></big-button>
  </div>

</form>
